.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f9f9f9;
  font-family: Arial, sans-serif;
  text-align: center;
}

.container {
  width: 80%;
}

.navbar {
  background-color: #800080;
  padding: 10px 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar h3 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 10px;
}

.navbar .btngroup {
  display: inline-flex;
  gap: 20px;
}

.navbar .btngroup a {
  text-decoration: none;
  color: #FFFFFF;
  padding: 12px 24px;
  border-radius: 30px;
  font-size: 1rem;
  font-weight: 600;
  transition: all 0.3s ease;
  background-color: transparent;
  border: 2px solid #FFFFFF;
  min-width: 100px;
}

.navbar .btngroup a:hover {
  background-color: #FF0000;
  border-color: #FF0000;
  color: #FFFFFF;
  transform: translateY(-3px);
}

.navbar .btngroup a.active {
  color: #FFD700;
  border-color: #FFD700;
}
